.postGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .postGrid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 501px) and (max-width: 767px) {
  .postGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1260px) {
  .postGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}